node-red-flow.json
[{"id":"ca6578b3.066178","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"69931825.947ef8","type":"arduino in","z":"ca6578b3.066178","name":"","pin":"0","state":"ANALOG","arduino":"9f100c34.fd8e1","x":90,"y":120,"wires":[["f86a4e65.6953c"]]},{"id":"6fac1b6a.794244","type":"range","z":"ca6578b3.066178","minin":"100","maxin":"1000","minout":"0","maxout":"10","action":"clamp","round":true,"property":"payload","name":"","x":510,"y":120,"wires":[["6fdd7b21.0bd284"]]},{"id":"a576ef46.ee672","type":"debug","z":"ca6578b3.066178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":20,"wires":[]},{"id":"f86a4e65.6953c","type":"smooth","z":"ca6578b3.066178","name":"","property":"payload","action":"mean","count":"20","round":"","mult":"single","reduce":true,"x":220,"y":120,"wires":[["78a92b6.24afad4"]]},{"id":"78a92b6.24afad4","type":"delay","z":"ca6578b3.066178","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":370,"y":120,"wires":[["6fac1b6a.794244"]]},{"id":"6fdd7b21.0bd284","type":"rbe","z":"ca6578b3.066178","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":630,"y":120,"wires":[["16f94898.0a0e27"]]},{"id":"32b49eb6.93d182","type":"websocket out","z":"ca6578b3.066178","name":"","server":"c9273538.dbaf08","client":"","x":1080,"y":120,"wires":[]},{"id":"16f94898.0a0e27","type":"change","z":"ca6578b3.066178","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"lightsensor\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":120,"wires":[["32b49eb6.93d182","a576ef46.ee672","1b2c05b7.2e457a","cf2764a3.b33928"]]},{"id":"cfb66dd8.279d3","type":"debug","z":"ca6578b3.066178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":460,"wires":[]},{"id":"4bd71b25.e4cec4","type":"mqtt in","z":"ca6578b3.066178","name":"","topic":"commands/lights/bed1","qos":"2","datatype":"auto","broker":"b2cb19ca.454cb8","x":140,"y":380,"wires":[["cfb66dd8.279d3","294cf5fd.07638a"]]},{"id":"d89c98ba.22bc38","type":"mqtt in","z":"ca6578b3.066178","name":"","topic":"events/nokklok/alarm","qos":"2","datatype":"auto","broker":"b2cb19ca.454cb8","x":170,"y":600,"wires":[["cfb66dd8.279d3","4ddf20ef.700f8"]]},{"id":"68dc6f38.34465","type":"arduino out","z":"ca6578b3.066178","name":"","pin":"5","state":"PWM","arduino":"9f100c34.fd8e1","x":1170,"y":220,"wires":[]},{"id":"711d4ee4.c8391","type":"inject","z":"ca6578b3.066178","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":240,"wires":[["68dc6f38.34465"]]},{"id":"753d4d35.c4c4a4","type":"inject","z":"ca6578b3.066178","name":"","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":280,"wires":[["68dc6f38.34465"]]},{"id":"4dbb0edb.9e27","type":"inject","z":"ca6578b3.066178","name":"","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":320,"wires":[["68dc6f38.34465"]]},{"id":"27dbecc0.c597c4","type":"arduino out","z":"ca6578b3.066178","name":"","pin":"6","state":"PWM","arduino":"9f100c34.fd8e1","x":910,"y":420,"wires":[]},{"id":"6f1db375.1a0b9c","type":"inject","z":"ca6578b3.066178","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":240,"wires":[["27dbecc0.c597c4"]]},{"id":"6c4f0c49.a6a0e4","type":"inject","z":"ca6578b3.066178","name":"","topic":"","payload":"8","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":280,"wires":[["27dbecc0.c597c4"]]},{"id":"d3689fa0.a0d9b","type":"inject","z":"ca6578b3.066178","name":"","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":710,"y":320,"wires":[["27dbecc0.c597c4"]]},{"id":"294cf5fd.07638a","type":"switch","z":"ca6578b3.066178","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":380,"wires":[["3a1930e7.f3478"],["2b4ca0a7.d164d"]]},{"id":"3a1930e7.f3478","type":"change","z":"ca6578b3.066178","name":"255","rules":[{"t":"set","p":"payload","pt":"msg","to":"255","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":360,"wires":[["27dbecc0.c597c4"]]},{"id":"2b4ca0a7.d164d","type":"change","z":"ca6578b3.066178","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":400,"wires":[["27dbecc0.c597c4"]]},{"id":"1b2c05b7.2e457a","type":"function","z":"ca6578b3.066178","name":"Lights on if dark","func":"if (msg.payload.lightsensor < 3) {\n    msg.payload = 8;\n} else {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":180,"wires":[["68dc6f38.34465"]]},{"id":"4ddf20ef.700f8","type":"switch","z":"ca6578b3.066178","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"alarm","vt":"str"},{"t":"eq","v":"alarmEnd","vt":"str"},{"t":"eq","v":"preAlarm","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":370,"y":620,"wires":[["d27da4d3.3ae018"],["5dac2e44.16cfc"],["60060ec3.656f2"]]},{"id":"d27da4d3.3ae018","type":"change","z":"ca6578b3.066178","name":"255","rules":[{"t":"set","p":"payload","pt":"msg","to":"255","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":480,"wires":[["27dbecc0.c597c4"]]},{"id":"5dac2e44.16cfc","type":"change","z":"ca6578b3.066178","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":540,"wires":[["63825865.1d23f8"]]},{"id":"cf2764a3.b33928","type":"change","z":"ca6578b3.066178","name":"","rules":[{"t":"set","p":"lightLevel","pt":"flow","to":"payload.lightsensor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":80,"wires":[[]]},{"id":"60060ec3.656f2","type":"function","z":"ca6578b3.066178","name":"lights on if dark","func":"var msg1;\nvar msg2 = [];\n\nif (flow.lightLevel > 5) {\n    msg1.payload = 0;\n} else {\n    msg2.payload = 255;\n    \n}\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":620,"y":640,"wires":[["27dbecc0.c597c4"],["4c80cd22.56f884"]]},{"id":"4c80cd22.56f884","type":"function","z":"ca6578b3.066178","name":"msg stream with delay","func":"var messages = [];\n\nfor (var i=1; i<256; i++){\n\n    messages.push({payload: i, delay: i*1000});\n\n}\n\nreturn [ messages ];\n","outputs":1,"noerr":0,"x":860,"y":640,"wires":[["e1e572e1.37b51"]]},{"id":"2a58ef26.df17e","type":"inject","z":"ca6578b3.066178","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":700,"wires":[["4c80cd22.56f884"]]},{"id":"e1e572e1.37b51","type":"delay","z":"ca6578b3.066178","name":"","pauseType":"delayv","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":560,"wires":[["27dbecc0.c597c4"]]},{"id":"63825865.1d23f8","type":"delay","z":"ca6578b3.066178","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":720,"y":500,"wires":[["27dbecc0.c597c4"]]},{"id":"9f100c34.fd8e1","type":"arduino-board","z":"","device":"/dev/ttyUSB0"},{"id":"c9273538.dbaf08","type":"websocket-listener","z":"","path":"/ws/nokklok","wholemsg":"false"},{"id":"b2cb19ca.454cb8","type":"mqtt-broker","z":"","name":"","broker":"192.168.2.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]