node-red-flow.json
[{"id":"d4799347.f1ec9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"136d5007.76ff8","type":"arduino-board","z":"","device":"/dev/ttyUSB0"},{"id":"7e60b9c5.7d0048","type":"websocket-listener","z":"","path":"/ws/nokklok","wholemsg":"false"},{"id":"4d4e367a.a497e8","type":"mqtt-broker","z":"","name":"","broker":"192.168.2.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2cc0bf04.6d0d2","type":"arduino in","z":"d4799347.f1ec9","name":"","pin":"0","state":"ANALOG","arduino":"136d5007.76ff8","x":90,"y":120,"wires":[["b8f18b6f.b097b8"]]},{"id":"53ee8800.90d2c8","type":"range","z":"d4799347.f1ec9","minin":"100","maxin":"1000","minout":"0","maxout":"10","action":"clamp","round":true,"property":"payload","name":"","x":510,"y":120,"wires":[["1498a9c4.be2536"]]},{"id":"60789644.2fca88","type":"debug","z":"d4799347.f1ec9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":60,"wires":[]},{"id":"b8f18b6f.b097b8","type":"smooth","z":"d4799347.f1ec9","name":"","property":"payload","action":"mean","count":"20","round":"","mult":"single","reduce":true,"x":220,"y":120,"wires":[["f07823b5.de9b6"]]},{"id":"f07823b5.de9b6","type":"delay","z":"d4799347.f1ec9","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":370,"y":120,"wires":[["53ee8800.90d2c8"]]},{"id":"1498a9c4.be2536","type":"rbe","z":"d4799347.f1ec9","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":630,"y":120,"wires":[["14a9d93c.676f17"]]},{"id":"4d71d26c.8f31dc","type":"websocket out","z":"d4799347.f1ec9","name":"","server":"7e60b9c5.7d0048","client":"","x":980,"y":120,"wires":[]},{"id":"14a9d93c.676f17","type":"change","z":"d4799347.f1ec9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"lightsensor\": msg.payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":120,"wires":[["4d71d26c.8f31dc","60789644.2fca88"]]},{"id":"40aeaadf.ac24a4","type":"debug","z":"d4799347.f1ec9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":340,"wires":[]},{"id":"d75785b4.c0ebc8","type":"mqtt in","z":"d4799347.f1ec9","name":"","topic":"commands/lights/bed1","qos":"2","datatype":"auto","broker":"4d4e367a.a497e8","x":170,"y":360,"wires":[["40aeaadf.ac24a4"]]},{"id":"e8f82b5b.3a1608","type":"mqtt in","z":"d4799347.f1ec9","name":"","topic":"events/nokklok/alarm","qos":"2","datatype":"auto","broker":"4d4e367a.a497e8","x":170,"y":460,"wires":[["40aeaadf.ac24a4"]]}]